:root {
    --red-color: #EB0029;
    --ligth-grey-color: #E0E0E0;
    --green-color: #119F52;
    --pink-color: #B01657;
    --orange-color: #FF671B;
    --medium-grey-color: #9D9D9C;
    --dark-grey-color: #524F5E;
    --black-font:'Gotham Black', sans-serif;
    --book-font: 'Gotham Book', sans-serif;
    --bold-font: 'Gotham Ultra', sans-serif;
    --light-font: 'Gotham Light', sans-serif;
    --medium-font: 'Gotham', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    position: relative;
}

.background-img {
    position: relative;
    height: 100%;
}

.hero-container p {
    bottom: 350px;
    position: relative;
    text-align: center;
    font-family: var(--black-font);
    font-size: 20px;
    color: var(--green-color);
}

.hero-container p:nth-child(2) {
    color: var(--red-color);
}

.hero-container p:nth-child(4) {
    font-size: 26px;
}

.hero-container .arrow {
    position: absolute;
    width: 100vw;
    bottom: 78px;
}

.hero-container .airplane {
    position: absolute;
    top: 148px;
    width: 320px;
    right: 9px;
}

.awards-section {
    width: 100%;
    height: auto;
    position: relative;
    top: -30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: var(--medium-font);
}

.awards-section p {
    color: var(--dark-grey-color);
    font-size: 16px;
}

.awards-section .date p:nth-child(2) {
    color: var(--orange-color);
}

.awards-section .date, .positions {
    padding-bottom: 16px;
}

.awards-section .positions p {
    font-family: var(--black-font);
}

.awards-section .positions p:nth-child(2) {
    color: var(--orange-color);
}

.awards-section .award img {
    width: 60px;
    height: 80px;
    margin-top: 10px;
}

.awards-section .more-info {
    padding: 36px 0 50px;
    color: var(--medium-grey-color);
}

.awards-section a {
    color: var(--red-color);
    font-family: var(--black-font);
    text-decoration: none;
}

.memorama-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./assets/Asset\ 9.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.memorama-section p {
    font-family: var(--light-font);
    color: white;
}

.memorama-section p:nth-child(1) {
    letter-spacing: 4px;
    padding-top: 20px;
    font-size: 25px;
}

.memorama-section p:nth-child(2) {
    padding-top: 10px;
    font-size: 30px;
    letter-spacing: 8px;
    font-family: var(--black-font);
    color: var(--green-color);
}

.memorama-section .x-container {
    width: 185px;
    border-top: 2px solid white;
    margin-top: 25px;
}

.memorama-section .x-container div {
    position: relative;
    top: -12px;
    color: white;
    width: 50px;
    left: calc((100% - 50px)/2);
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-family: var(--medium-font);
    background-color: #2d2d2d;
}

.memorama-section .rules-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.memorama-section .rules-cards article .card p {
    color: white;
    letter-spacing: normal;
    padding-top: 0;
}

.memorama-section .rules-cards article {
    position: relative;
}

.rules-cards article img {
    width: 75px;
    height: 105px;
    position: absolute;
    left: -32px;
    top: 20px;
}

.memorama-section .rules-cards .card {
    width: 230px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 55px;
    border: 3px solid var(--green-color);
    border-radius: 20px;
}

.memorama-section .rules-cards .card p {
    font-size: 20px;
}

.memorama-section .rules-cards .line {
    height: 20px;
    border-left: 3px solid var(--green-color);
}

.ranking-section {
    height: 700px;
    background-image: url('./assets/ranking-back.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.ranking-section .black-circle {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color:#191919;
    position: relative;
    margin: 0 auto;
    top: 50px;
}

.black-circle img {
    width: 110px;
    position: relative;
    top: 10px;
    left: -2px;
}

.ranking-section .ranking-table-container {
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color:#191919;
    border-radius: 20px;
    margin: 0 auto;
}

.ranking-table-container .title {
    width: 200px;
    height: 100px;
    position: relative;
    top: 33px;
    margin: 0 auto;
    background-color: #191919;
    border: 1px solid var(--ligth-grey-color);
}

.table-container {
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 50px;
}

.table-container .item {
    font-family: var(--light-font);
    font-size: 10px;
    color: var(--ligth-grey-color);
  }

  .table-container .item img {
    width: 20px;
    height: 16px; 
  }

.table-head {
    display: grid;
    grid-template-columns: 40px 80px 90px 1fr;
    grid-template-rows: repeat(1, 1fr);
    border-bottom: 3px solid var(--ligth-grey-color);
    gap: 5px;
}

.table-head .item {
    text-align: start;
    padding-bottom: 5px;
}

.table-head .name {
    padding-left: 8px;
}

.table-head .h {
    display: flex;
    position: relative;
    left: 15px;
}

.table-head .h p {
    padding-top: 2px;
    padding-left: 2px;
}

.table-content {
    display: grid;
    grid-template-columns: 30px 120px 80px 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  .table-content .item {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--ligth-grey-color);
  }

  .table-content .posit, .d {
    display: flex;
  }

  .table-content .name {
    padding-left: 24px;
  }

  .table-content .movement p {
    position: relative;
    left: 20px;
  }

  .table-content .time {
    padding-left: 10px;
  }

  .table-content .time p {
    position: relative;
    left: 10px;
  }

  .table-content .last {
    background-color: var(--ligth-grey-color);
    color: var(--dark-grey-color);
    height: 20px;
    padding-top: 2px;
  }

  .table-content .last p {
    padding-top: 2px;
  }

  .table-content .item:nth-child(22) {
    padding-top: 4px;
  }

  .ranking-section .oportunities {
    width: 80%;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 60px;
    margin: 0 auto;
    font-family: var(--light-font);
    font-weight: bold;
    font-size: 14px;
    color: var(--ligth-grey-color);
  }

  .ranking-section .oportunities button {
    width: 200px;
    height: 45px;
    position: relative;
    top: 10px;
    border-radius: 5px;
    border-style: none;
    background-color: var(--red-color);
    color: var(--ligth-grey-color);
    font-family: var(--medium-font);
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 2px;
  }
