:root {
    --red-color: #EB0029;
    --ligth-grey-color: #E0E0E0;
    --green-color: #119F52;
    --pink-color: #B01657;
    --orange-color: #FF671B;
    --medium-grey-color: #9D9D9C;
    --dark-grey-color: #524F5E;
    --black-font:'Gotham Black', sans-serif;
    --book-font: 'Gotham Book', sans-serif;
    --bold-font: 'Gotham Ultra', sans-serif;
    --light-font: 'Gotham Light', sans-serif;
    --medium-font: 'Gotham', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    position: relative;
}

.background-img {
    position: relative;
    height: 100%;
}

.hero-container p {
    bottom: 350px;
    position: relative;
    text-align: center;
    font-family: var(--black-font);
    font-size: 20px;
    color: var(--green-color);
}

.hero-container p:nth-child(2) {
    color: var(--red-color);
}

.hero-container p:nth-child(4) {
    font-size: 26px;
}

.hero-container .arrow {
    position: absolute;
    width: 100vw;
    bottom: 78px;
}

.hero-container .airplane {
    position: absolute;
    top: 148px;
    width: 320px;
    right: 9px;
}

.awards-section {
    width: 100%;
    height: auto;
    position: relative;
    top: -30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: var(--medium-font);
}

.awards-section p {
    color: var(--dark-grey-color);
    font-size: 16px;
}

.awards-section .date p:nth-child(2) {
    color: var(--orange-color);
}

.awards-section .date, .positions {
    padding-bottom: 16px;
}

.awards-section .positions p {
    font-family: var(--black-font);
}

.awards-section .positions p:nth-child(2) {
    color: var(--orange-color);
}

.awards-section .award img {
    width: 60px;
    height: 80px;
    margin-top: 10px;
}

.awards-section .more-info {
    padding: 36px 0 50px;
    color: var(--medium-grey-color);
}

.awards-section a {
    color: var(--red-color);
    font-family: var(--black-font);
    text-decoration: none;
}